.vscode
Chat-Room-101\.vscode
Spam-Botz\.vscode
Spam-Botz\src\Modules\__pycache__
Steam_WebScraper\.vscode
Steam_WebScraper\src\__pycache__
Steam_WebScraper\src\Modules\__pycache__
Typing-Speed-Test\.vscode
Typing-Speed-Test\src\Modules\__pycache__
YouTube-Extractor\src\Modules\__pycache__